body {
    background-color: rgb(251, 253, 199);
}

.mainHeader {
    margin: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(168, 10, 92);
    text-shadow: 5px 5px 10px rgb(221, 33, 155);
    border: 1px solid rgb(168, 10, 92);
    background-color: rgb(244, 210, 232);
    box-shadow: 5px 5px 10px rgb(221, 33, 155);
    border-radius: 40px 0 40px 0;
}

.list {
    text-align: center;
    color: rgb(168, 10, 92);
}

.listMember {
    background-color: rgb(244, 210, 232);
    width: 40%;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
    line-height: 150px;
    opacity: 0.8;
}

.link {
    color: rgb(168, 10, 92);
    text-decoration: none;
}

.link:hover {
    color: yellow;
    font-size: 150%;
    transition: 0.5s;
}

.listMember:hover {
    opacity: 1;
    transition: 0.5s;
}